body {
    background-color: #222;
    text-align:center;
    margin:0;
    font-family:helvetica,arial;
}

#_num, #_name, #_company, #_batch, #_email {
    border:none;
    background-color:transparent;
    color: #eee;
    font-size: 24px;
    text-align: center;
    width: 600px;
}

#_search, #_submit, #_clear {
    margin-top: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px;
}

#_search {background-color: #9f0ac3;}
#_submit {background-color: #64a501;}
#_clear {background-color: #4b4b4b;}

.msg {
    margin-top: 10px;
    visibility:hidden;
}
.details {
/*    visibility: hidden;*/
}

.on {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s ease-out 0.5s, opacity 0.5s ease-out;
}
.off {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    vertical-align: middle;
    display: table-cell;
}

input[type="button"],
input[type="submit"]
{
   outline:none;
}
input[type="button"]:focus,
input[type="submit"]:focus
{
   outline:none;
}
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner
{
   border: 0;
}